

/* Hide the DataTable menu */
.dash-spreadsheet-menu {
    display: none !important;
}

/* Ensure address column text wraps properly */
.dash-cell.column-address {
    white-space: normal !important;
    word-break: break-word !important;
    max-width: 300px !important;
}
.dash-filter.column-0 {
    display: none !important;
    max-height: '1px'
}


.price-tooltip {
    position: relative;
    display: inline-block;
}

.price-tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 3px 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 10px;
    white-space: nowrap;
}

.price-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
